body {

    .jumbotron { 
        text-align: center;
        max-width: 95%;
        margin: 0 auto;
    }

    .img-profiles {
        max-width: 95%;
        text-align: center;
    }

    .aaron img {
        max-width: 50%;
    }

}