.bio {

    .jumbotron-bio {
        @include outside-structure; 
        max-width: 95%;
        margin: 0 auto;
        background-color: $base-color;
        display: flex;
        justify-content: center;
    }

    .jumbotron {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .img-profiles {
        @include outside-structure;
        text-align: center;
    }

    .voldorb-img {
        max-width: 50%;
    }



}