.bio {



    .logo {

        padding: 3% 0;
    }

    .bio-logo {
        margin-top: 0%;
    }

    .logo-signup {

        width: 100%;
        margin-top: 0%;

        .image-div {

            flex-basis: 85%;
            display: flex;
            justify-content: flex-start;
        }

        .button {


            display: flex;
            flex-basis: 15%;
            justify-content: space-around;
            align-items: center;
            color: $base-color;

           p {
               margin: 0;
               align-self: center;
               
               
           }
        }

    }

    .header-bio {
        @include outside-structure;
        text-align: center;
        margin: 0 auto;
        height: 80%;
        background-color: $light-blue;

        a {
            
            text-decoration: none;
            color: $base-color;
            display: block;
            padding-bottom: 2%;
            font-weight: bold;

            &:hover {

                color: palevioletred;
            }
        }
        
        @media (min-width: 768px){

            width: 100%;

            a {
                display: none;
            }
        }

    }


    .name-header {
        font-size: 2rem;
        font-family: $oswald;
        padding: 2% 0;;
    }

    .img-profiles {
        @include outside-structure;
        color: $base-color;
        padding: 2%;
        display: flex;
        flex-flow: column nowrap;

        .bio-containers {
            display: flex;
            border: 2px solid $drk-blue;
            background-color: $grey;
            margin: 3% auto;
            width: 90%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
            .bio-info { 

                margin: 3% 0;

                img {

                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }

                .text-content{


                    p {

                        font-size: 3vw;
                    }
                } 
        
                @media (min-width: 768px){
        
                    display: flex;
                    flex-flow: row;
                    justify-content: flex-start;
                    

                    img {

                        max-width: 119.25px;
                        max-height: 119.25px;
                        min-width: 119.25px;
                        min-height: 119.25px;
                    }

                    .text-content{

                        margin-left: 2%;
                        background-color: $base-color;
                        color: $grey;
                        padding-left: 2%;    
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                        p {
                            
                            font-size: 1vw;
                        }
                    } 
                }

                


            }
        }

    }

   

    .aaron {
        background-color: $light-blue;
    }

    .bio-info {
        display: flex;
        flex-flow: column nowrap;
        padding: 2%;
    }

    
    .h2 {
        text-align: center;
        padding-top: 2%;
    }


    .p {
        text-align: left;
        padding-top: 2%;
        width: 100%;
    }

    .images-bio {

        width: 40%;
        align-self: center;
    }

    .sticky-login {
        
        a {

            font-family: $quicksand;
            color: $base-color;
        }
    }

}

    




 

    

